div {
  width: 100px;
  height: 100px;
  background: black;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
}

#circ {
  animation-name: rainbow;
  animation: rainbow 1s infinite;
}

#circ {
  animation-name: bounce;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0% {
    top: 0px;
    background-color: red;
  }
  25% {
    background-color: yellow;
  }
  50% {
    top: 249px;
    width: 130px;
    height: 70px;
    background-color: green;
  }
  75% {
    background-color: blue;
  }
  100% {
    top: -25px;
    background-color: purple;
  }
}

body {
  background: black;
}
